body{

    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;

}

#topbar{

    height: 40px;
    width: 1036px;
    margin: 0 auto;
    background-color: #fffdff;

}

#logo{

    margin-top: 8px;
    margin-right: 8px;
    width: 80px;
    height:24px;
    float: left;

}

.topbar-selection{

    float: left;
    border-left: 1px #CCCCCC solid;
    height: 100%;

}

.topbar-selection:hover{

    color:#3c5a98;

}

#signin-text{

    font-weight: bold;
    font-size: 90%;
    position: relative;
    top: -14px;
    left: -8px;
    padding-right: 50px;
}

#signin-image{

    width: 24px;
    margin: 9px 15px;
    float: left;
    
}

#labels{

    font-weight: bold;
    font-size: 90%;
    position: relative;
    left: 13px;
    top: 11px;
    padding-right: 26px;

}

#search-box{

    position: relative;
    top: -2px;
    left: 10px;
    background-color: #e4e4e4;
    border: none;
    height: 23px;
    font-weight: 700;

}

#search-button{

    background-image: url('img/search.png');
    height: 25px;
    width: 31px;
    position: relative;
    top: 6px;
    border: none;

}

#outter-bar{

    background-color: #bb1919;
    height: 57px;
    width: 100%;
    position: relative;
    top: -30px;
}

#subtop{

    width: 1036px;
    margin: 0 auto;
    color:white;
    font-size: 1.35em;

}

#outter-bar-lower{

    background-color: #a91717;
    height: 41px;
    width: 100%;
    position: relative;
    top: -30px;

}

.bottomlabels{

    text-align: center;
    color: white;
    margin: auto;
    border-left: 1px #b53737 solid;
    padding-left: 15px;
    padding-right: 15px;
    height: 52%;

}

.bottomlabels:hover{
    
    text-decoration: underline;

}

#lower-bar-menu{

    width: 1036px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;

}

#container{

    max-width: 1036px;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: -21px;

}

#main-content{

    margin: 0 auto;
    padding: 15px;
    max-width: 691px;

}

#tech-container{

    width: 100%;
    margin: 0 auto;

}
#tech-heading{

    border-bottom: 3px #bb1919 solid; 
    width:96px;
    font-weight:normal;
    margin: 0;

}

#tech-heading:hover{

    color: #3c5a98;

}

#side-content{

    margin: 0 auto;
    width: 315px;
    padding: 0;
}

.topics{

    border: 1px lightgray solid;
    padding: 8px;
    margin: 5px;
    font-weight: bold;
    font-size: 11pt;

}

.topics:hover{

    background-color: #3c5a98;
    color: white;

}

#top-stories{

    background-color: #ededed;
    padding: 5px 20px 20px 20px;

}

#top-stories h2{

    color: #48474d;
    font-weight: normal;

}

#top-stories h3{

    margin-bottom:0;

}

#top-stories h3:hover{

    margin-bottom:0;
    color: #3c5a98;
}

#top-stories p{

    margin-top: 0;
    color: #606060;

}

#features{

    background-color: #ededed;
    padding: 5px 20px 20px 20px;

}

#features h2{

    color: #48474d;
    font-weight: normal;
    margin: 10px;

}

#features h3{

    margin-top:0;

}

#features h3:hover{

    margin-top:0;
    color: #3c5a98;
}

#features p{

    margin-top: 0;
    color: #606060;

}

#features img{

    width: 267px;
    height: 150px;

}